/* * {
  box-sizing: border-box;
} */
body {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  margin: 0;
  min-height: 100vh;
}
.group-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.container {
  width: 550px;
  height: 900px;
  background: #1f2937;
  margin: 200px auto;
  border-radius: 10px;
}
main {
  background: #0d0c13;
  color: #ffffff;
  padding: 1em 3rem;
  border-radius: 10px;
}
h1 {
  font-weight: 800;
  font-size: 1.75rem;
}
input {
  width: 117px;
  height: 60px;
  border: 2px solid #b295ff;
  border-radius: 5px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 58px;
  margin: 0 auto 20px auto;
  text-align: center;
  display: block;
  background: #0d0c13;
  color: white;
}
button {
  width: 117px;
  height: 42px;
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: none;
}

.group {
  width: 500px;
  height: 90px;
  background: #273549;
  border-radius: 4.68077px 0px 0px 0px;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 10px 0;
  color: white;
}
